const config = {
	master: {
		host: "localhost:60157",
		version: 6,
		sd: {
			password: 'av',
		},
		control: {
			password: 'control',
		},
	},
	slave: {
		host: "192.168.50.12:60157",
		version: 7,
		sd: {
			password: 'av',
		},
		control: {
			password: 'control',
		},
	},
};

module.exports = config;
